.footer__img {
  position: relative;
}

.footer__img:first-of-type {
  z-index: 3;
}

.footer__img:not(:first-of-type) {
  margin-left: -15px;
  z-index: 2;
}

.footer__img:nth-of-type(3n) {
  z-index: 1;
}