.footer {
  display: flex;
  gap: 12px;
  margin-top: -80px;
}

@media screen and (max-width: 1300px) {
  .footer {
    margin-top: 40px;
  };
}

@media screen and (max-width: 1100px) {
  .footer {
    justify-content: center;
  };
}

@media screen and (max-width: 530px) {
  .footer {
    margin-top: 40px;
    flex-direction: column;
    align-content: center;
    padding-top: 10px;
  };
}