.images__img {
  position: relative;
  z-index: 1;
  left: -119px;
  bottom: -15px;
  overflow: hidden;
}



@media screen and (max-width: 1100px) {
  .images__img {
    width: 130%;
    height: 80%;
  };
}

@media screen and (max-width: 1100px) {
  .images__img {
    width: 80%;
    bottom: 0;
    left: -50px;
  };
}