.images__flag_position_three {
  top: 50%;
  left: 50%;
  animation: images__flag_position_three 3s ease-out 1.2s forwards,
  rotating 5s infinite linear 5s;
  transform-origin: 50px 280px;
}

@keyframes images__flag_position_three {
  from {
    top: 50%;
    left: 50%;
  }
  to {
    top: -15%;
    right: 90%;
  }
}

@keyframes rotating { 
  to {
    transform: rotate(360deg) ;
  }
}

@media screen and (max-width: 1100px) {
  .images__flag_position_three {
    transform-origin: 0px 200px;
  } 
}

@media screen and (max-width: 500px) {
  .images__flag_position_three {
    display: none;
  } 
}